body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #DFE0E2;
}

.navbar {
  overflow: hidden;
  height: 50px; 
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.navbar a {
  margin-top: 30px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  line-height: 20px; 
  display: block;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.logo {
  margin-top: 10px;
  display: block;
  text-decoration: none;
  margin-left: 30px;
}

.containerprincipal {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap; 
  height: calc(100vh - 48px); 
  padding: 10px; 
  box-sizing: border-box; 
}

.container {
  padding: 10px; 
  flex: 1;
}

.container1, .container2 {
  background-color: #EEEEEE;
  border-radius: 20px;
  box-sizing: border-box;
}

.container1 {
  flex: 3;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.container1 textarea {
  background-color: #EEEEEE;
  width: 100%;
  height: 80%;
  border-radius: 20px;
  font-size: 1.5rem; 
  border: none; 
  outline: none; 
  resize: none;
  overflow-wrap: break-word;
}

.aviso {
  margin-top: 10px;
  display: flex;
}

.aviso img {
  margin-right: 10px;
}

.container2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Botones */
.botones {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.botones button, #copyButton {
  margin-right: 10px;
  background-color: #134077;
  padding: 20px;
  color: white;
  font-size: 1rem; 
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
}

.botones button:hover, #copyButton:hover {
  background-color: #1A559E;
}

/* Media Queries */


/* Media Queries */
@media (min-width: 375px) and (max-width: 768px) {
  .contenedor-principal {
    display: flex;
  }
  
  .container1 {
    flex: 3;
    height: 100%;
    margin-bottom: 10px; 
    min-width: 100%;
  }
  
  .container1 textarea {
    height: 90%; 
  }
  
  .botones {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .botones button {
    margin-bottom: 10px;
  }

  .container2 img {
    display: none; 
  }
  .container2 {
    min-width: 100%;
  
  }
  .container2 p {
    word-wrap: break-word; /* Fuerza el ajuste de palabras largas */
    overflow-wrap: break-word; /* Asegura compatibilidad con navegadores */
    text-align: center; /* Opcional: Alínea el texto al centro */
    max-width: 100%; /* Asegura que el texto no exceda el ancho del contenedor */
  }
}


  


